body
{
	font-family: Helvetica, arial, sans-serif;
	margin: 0 !important;
    padding: 0 !important;
	background-color: aliceblue;
}

.highlight
{
	color: #53a9ea;
	font-weight: 800;
}

.topbar
{
	padding: 12px;
	background-color: white;
	border-bottom: 1px solid #c9c9c9;
	width: 100%;
	color: #676767;
}

input
{
	border: none;
	background-color: transparent;
    border: 0px solid;
	font-size: 16px;
	color: #676767;
	width: 120px;
}

input:focus
{
    outline: 0;
}

.container
{
	width: 850px;
	text-align: left;
	margin: 0 auto;
}

.content
{
	width: 700px;
	text-align: center;
	color: #676767;
	background-color: white;
	margin: 20px auto;
	border: 1px solid #c9c9c9;
	padding: 40px;
	border-radius: 5px;	
}